<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SMTP_Host" value="smtp.afonsoft.com.br" />
    <add key="SMTP_Port" value="587" />
    <add key="SMTP_Account" value="kart@afonsoft.com.br" />
    <add key="SMTP_Senha" value="r5q9y6t2" />
    <add key="SMTP_SSL" value="false" />
    <add key="SMTP_CCO" value="afonsoft@afonsoft.com.br;marcelo.converso@avianca.com.br;afonso.nogueira@avianca.com.br" />
    <!--<add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />-->
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=G:\Inetpub\vhosts\afonsoft.com.br\kart\temp\;" />
  </appSettings>
  <connectionStrings>
    <add name="afonsoftcombr_dbConnectionString" connectionString="Data Source=mssql.afonsoft.com.br;Initial Catalog=afonsoftcombr_db;Persist Security Info=True;User ID=afonsoftcombr;Password=r5q9y6t2;Connection Lifetime=360;Connect Timeout=360;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <customErrors mode="Off"/>
    <identity impersonate="false"/>
    <anonymousIdentification enabled="true"/>
    <globalization culture="pt-BR"/>
    <xhtmlConformance mode="Strict"/>
    <httpRuntime maxRequestLength="2097151" appRequestQueueLimit="1800" executionTimeout="1800" requestValidationMode="2.0"/>
    <sessionState timeout="1800" mode="InProc" cookieless="false" useHostingIdentity="true"/>
    <trace enabled="true" requestLimit="5000" pageOutput="false" traceMode="SortByTime" localOnly="false"/>
    <pages buffer="true" controlRenderingCompatibilityVersion="3.5"
      enableSessionState="true" enableEventValidation="false" smartNavigation="false"
      autoEventWireup="true" validateRequest="false" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
          assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
        path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
<!-- GZip Compression Page  -->
  <system.webServer>
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
  </system.webServer>
</configuration>