.container { width:262px; margin:0 auto; padding-top:200px; }
#container { max-width:960px; min-width:790px; width:98%; margin:0 auto; }

/*-------LOGIN STARTS HERE -------*/


/* Login Button */
#loginButton { 
    display:inline-block;
    float:right;
    color:#999;
    background-color:rgb(17, 17, 17);
}

/* Login Button Text */
#loginButton span {
    color:#999;
}

#loginButton span:hover {
    color:#fafafa;
}

/* Login Box */
#loginBox {
    position:absolute;
    top:34px;
    right:-180px;
    display:none;
    z-index:29;
}

/* If the Login Button has been clicked */    
#loginButton.active {
    border-radius:3px 3px 0 0;
}

#loginButton.active span {
   /* background-position:53px -76px; */
}

/* A Line added to overlap the border */
#loginButton.active em {
    position:relative;
    width:100%;
    height:1px;
    background:rgb(17, 17, 17);
    bottom:-1px;
}

/* Login Form */
#loginForm {
    width:220px; 
    border:3px solid #222;
    border-radius:5px 0 5px 5px;
    -moz-border-radius:5px 0 5px 5px;
    margin-top:0px;
    background:rgb(17, 17, 17);
    padding:6px 6px 20px 6px;
}

#loginForm fieldset {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
}

fieldset#body {
    background:#fff;
    border-radius:3px;
    -moz-border-radius:3px;
    padding:10px 13px;
    margin:0;
}

#loginForm #checkbox {
    width:auto;
    margin:1px 9px 0 0;
    float:left;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; /* IE7 Fix */
}

#loginForm .checkbox {
    width:auto;
    margin:1px 9px 0 0;
    float:left;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; /* IE7 Fix */
}

#body label {
    color:#3a454d;
    margin:9px 0 0 0;
    display:block;
    float:left;
}

#loginForm #body fieldset label {
    display:block;
    float:none;
    margin:0 0 6px 0;
}

/* Default Input
#loginForm input {
    width:92%;
    font-size:8px;
    font-weight:normal;
    color:#3a454d;
    border:1px solid #899caa;
    border-radius:4px;
    -moz-border-radius:4px;
    padding:5px 5px;
    box-shadow:inset 0px 1px 3px #bbb;
    -webkit-box-shadow:inset 0px 1px 3px #bbb;
    -moz-box-shadow:inset 0px 1px 3px #bbb;
}
 */

#loginForm .inputlogin {
    width:92%;
    font-size:10px;
    font-weight:normal;
    color:#3a454d;
    border:1px solid #899caa;
    border-radius:4px;
    -moz-border-radius:4px;
    padding:5px 5px;
    box-shadow:inset 0px 1px 3px #bbb;
    -webkit-box-shadow:inset 0px 1px 3px #bbb;
    -moz-box-shadow:inset 0px 1px 3px #bbb;
}

/* Sign In Button */
#loginForm #login .login {
    width:60px;
    float:left;
    background:#222 url(../images/loginbuttonbg.png) repeat-x;
    color:#fff;
    padding:7px 10px 8px 10px;
    text-shadow:0px -1px #278db8;
    border:1px solid #339cdf;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    margin:0 12px 0 0;
    cursor:pointer;
    *padding:7px 2px 8px 2px; /* IE7 Fix */
}
.login {
    width:60px;
    float:left;
    background:#222 url(../images/loginbuttonbg.png) repeat-x;
    color:#fff;
    padding:7px 10px 8px 10px;
    text-shadow:0px -1px #278db8;
    border:1px solid #339cdf;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    margin:0 12px 0 0;
    cursor:pointer;
    *padding:7px 2px 8px 2px; /* IE7 Fix */
}

/* Forgot your password */
#loginForm span {
    text-align:center;
    display:block;
    padding:1px 0 4px 2px;
}

#loginForm span a {
    color:White;
    font-size:10px;
}

input:focus {
    outline:none;
}