@import url('superfish.css');
/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video, time {display:block;}
mark, rp, rt, ruby, summary {display:inline;}

/* Global properties ======================================================== */
html {width:100%;}
body 
{
    font-family: Arial, Helvetica, sans-serif;
    background: url(/Grupo/img/bg.jpg) no-repeat fixed top center black;
    color: #fff;
    display: block;
}

.bg-top {background:url(/images/bg-top.jpg) center 0 no-repeat;}
.main {
	width:940px; 	
	padding:0;
	margin:0 auto;
	position:relative;
}
#main {
    display: block;
    width: 940px;
    margin: 0 auto;
}

section {
    display: block;
    background: none;
    padding: 0.8em;
}
footer {
    clear: both;
    display: block;
}

a {color:#e5e5e5; outline:none;}
a:hover {text-decoration:none;}

.clear {clear:both; width:100%; line-height:0; font-size:0;}

.col-1, .col-2, .col-3, .col-4 {float:left;}

.wrapper {width:100%; overflow:hidden;}
.extra-wrap {overflow:hidden;}

p {margin-bottom:19px;}
.p1 {margin-bottom:8px;}
.p2 {margin-bottom:15px;}
.p3 {margin-bottom:30px;}
.p4 {margin-bottom:40px;}
.p5 {margin-bottom:50px;}

.reg {text-transform:uppercase;}

.fleft {float:left;}
.fright {float:right;}

.alignright {text-align:right;}
.aligncenter {text-align:center;}

.title {margin-bottom:18px;}

.it {font-style:italic;}

.letter {letter-spacing:-1px;}

.color-1 {color:#fff;}
.color-2 {color:#000;}
.color-3 {color:#4a4949;}

/*********************************boxes**********************************/
.margin-bot {margin-bottom:35px;}

.spacing {margin-right:35px;}
.spacing2 {margin-right:45px;}
.spacing3 {margin-right:60px;}

.spacing-bot {margin-bottom:25px;}

.indent {padding:0 0 0px 30px;}
.indent2 {padding-left:50px;}
.indent-bot {margin-bottom:20px;}
.indent-bot2 {margin-bottom:30px;}
.indent-bot3 {margin-bottom:45px;}

.img-indent-bot {margin-bottom:25px;}
.img-indent {float:left; margin:0 20px 0px 0;}	
.img-indent2 {float:left; margin:0 13px 0px 0;}	
.img-indent-r {float:right; margin:0 0px 0px 40px;}	

.prev-indent-bot {margin-bottom:10px;}
.prev-indent {float:left; margin:0 17px 0px 0;}	
.prev-box {float:left; margin-bottom:8px;}	

.border {border:3px solid #000;}

a {cursor:pointer;}

.button, .button-1, .list-1 li a, .list-2 li a, .link, .link-1, .link-2, .link-3, h1 a, .menu-top li a, .menu-bot li a {text-decoration:none;}	

/*********************************header*************************************/
header {height:424px; width:100%; position:relative; z-index:3;}
/* .header {height:897px; width:100%; margin-bottom:-234px; position:relative; z-index:1;} */
.header {height:430px; width:100%; margin-bottom:-260px; position:relative; z-index:1;}

.row-top {width:100%; position:relative; z-index:2;}

h1 {padding:0; position:absolute; top:55px; left:-5px;}
h1 a {display:block; width:301px; padding-left:10px; margin-left: 10px; height:91px; text-indent:-5000px; background:url(/images/logo.png) 0 0 no-repeat;}

.menu-top {position:absolute; top:71px; right:20px; overflow:hidden;}
.menu-top li {float:left; font-size:14px; line-height:17px; font-weight:700; font-style:normal; text-transform:uppercase; margin-left:22px;}
.menu-top li a {color:#f22a0b;}
.menu-top li a:hover {color:#c9c9c9;}

/*********************************content*************************************/
#content {position:relative; z-index:2;}
.padding-content {padding:20px 0;}

.spacer-1 {width:100%; background:url(/images/pic-1.gif) 217px 0 repeat-y;}

h3 {font-size:24px; line-height:38px; padding-bottom:11px; background:url(/images/border-bot.gif) 0 bottom repeat-x;}
h3 .text-1 {display:block; color:#d6d6d6; font-size:24px; line-height:38px; margin-bottom:-7px;}
/*h3 .text-2 {display:block; color:#d21c00; font-size:24px; line-height:38px; text-shadow: 0.1em 0.1em #333;}*/
h3 .text-2 {display:block; color:#d21c00; font-size:24px; line-height:38px; text-shadow:0px 0px 0 rgb(178,-4,-32),1px 1px 0 rgb(161,-21,-49),2px 2px 0 rgb(145,-37,-65), 3px 3px 0 rgb(129,-53,-81),4px 4px 3px rgba(0,0,0,0.45),4px 4px 1px rgba(0,0,0,0.5),0px 0px 3px rgba(0,0,0,.2);}


h4 {font-size:16px; line-height:21px; color:#e5e5e5; font-weight:normal;}
h6 {font-size:13px; line-height:21px; color:#e5e5e5; font-weight:normal;}

.border-bot {width:100%; height:2px; background:url(/images/border-bot.gif) 0 0 repeat-x;}

.box {border-top:1px solid #222223; border-left:1px solid #222223; border-radius:3px;}
.box .bg {width:100%; background:#000;}
.padding-bg {padding:30px 31px 31px 30px;}
.page1.box {background:url(/images/box-tail.jpg) 0 0 repeat-x #1a1a1b;}
.page2.box.left {background:url(/images/box-tail2.gif) 0 0 repeat-x #1a1a1b;}
.page2.box.right {background:url(/images/box-tail3.gif) 0 0 repeat-x #1a1a1b;}
.page3.box.left {background:url(/images/box-tail4.gif) 0 0 repeat-x #1a1a1b;}
.page3.box.right {background:url(/images/box-tail5.gif) 0 0 repeat-x #1a1a1b;}
.page4.box.left {background:url(/images/box-tail6.gif) 0 0 repeat-x #1a1a1b;}
.page4.box.right {background:url(/images/box-tail7.gif) 0 0 repeat-x #1a1a1b;}
.page5.box {background:url(/images/box-tail8.gif) 0 0 repeat-x #1a1a1b;}
.page6.box.left {background:url(/images/box-tail9.gif) 0 0 repeat-x #1a1a1b;}
.page6.box.right {background:url(/images/box-tail10.gif) 0 0 repeat-x #1a1a1b;}
.page7.box {background:url(/images/box-tail11.gif) 0 0 repeat-x #1a1a1b;}
.padding-box {padding:15px 20px 25px;}
.padding1-box {padding:15px 12px 25px 20px;}
.padding2-box {padding:15px 27px 25px 20px;}
.padding-side {padding:0 287px 0 0;}

.img-box {position:relative; overflow:hidden;}
.img-box figcaption {position:absolute; bottom:0; left:0; width:100%; font-size:11px; line-height:16px; color:#8b8b8b; background:url(/images/figcaption-bg.png) 0 0 repeat; z-index:2;}
.img-box figcaption h6 {font-size:12px; line-height:14px; color:#fdfdfd; font-weight:normal;}
.img-box figcaption .link-1 {display:inline-block; font-size:12px; line-height:21px; color:#e5e5e5; font-weight:700; padding-left:22px; background:url(/images/marker-1.gif) 3px 5px no-repeat;}
.img-box figcaption .link-1:hover {color:#e41e00;}
.img-box figcaption .padding {padding:6px 0px 6px 20px;}
.img-box figcaption .padding1 {padding:8px 0px 8px 13px;}
.img-box figcaption .padding2 {padding:7px 0px 9px 18px;}

time {float:left; font-size:18px; line-height:24px; color:#e5e5e5; text-transform:uppercase; text-align:center; padding-top:5px; margin-right:13px;}
time strong {display:block; font-size:32px; line-height:39px; color:#de1d00; width:56px; height:47px; padding:9px 0 0; margin-bottom:6px; border:1px solid #393939; border-radius:7px; box-shadow:0 0 2px 0px rgba(0,0,0,0.75); background:#4a4949;}

.button {
	display:inline-block;
	background:url(/images/button-left.png) left bottom no-repeat;
	font-size:14px;
	line-height:18px;
	font-weight:bold;
	font-style:normal;
	text-transform:uppercase;
	text-decoration:none;
	color:#060709;
	cursor:pointer;
}
.button strong {
	padding:0 19px 0 7px;
	display:inline-block;
	background:url(/images/button-right.png) right bottom no-repeat;
}	
.button strong strong {
	background:url(/images/button-tail.png) 0 bottom repeat-x;
	cursor:pointer;
	padding:4px 7px 4px 5px;
}	
.button:hover {background:url(/images/button-left.png) left 0 no-repeat; color:#fff;}
.button:hover strong {background:url(/images/button-right.png) right 0 no-repeat;}
.button:hover strong strong {background:url(/images/button-tail.png) 0 0 repeat-x;}

.list-1 li {font-size:12px; line-height:22px; padding-left:12px; background:url(/images/marker-2.gif) 0 8px no-repeat;}
.list-1 li a {color:#fff;}
.list-1 li a:hover {color:#1799cf;}

.link:hover {text-decoration:underline;} 

.link-1 {display:inline-block; font-size:12px; line-height:21px; color:#e5e5e5; font-weight:700; padding-left:32px; background:url(/images/marker-1.gif) 3px 6px no-repeat;}
.link-1:hover {color:#e41e00;}

.link-2 {display:inline-block; font-size:13px; line-height:21px; color:#e5e5e5;}
.link-2:hover {color:#e41e00;}

.link-3 {display:inline-block; font-size:12px; line-height:21px; color:#e5e5e5; font-weight:700; padding-left:24px; background:url(/images/marker-2.gif) 3px 6px no-repeat;}
.link-3:hover {color:#e41e00;}

.video {position:relative;}
.video img {position:relative; z-index:1;}
.button-video {position:absolute; top:50%; left:50%; width:49px; height:43px; margin:-17px 0 0 -22px; z-index:2; display:block; background:url(/images/button-video.png) 0 0 no-repeat;}
.button-video:hover {background:url(/images/button-video.png) 0 bottom no-repeat;}

.text-1 {display:inline-block; color:#e5e5e5; font-size:12px; line-height:19px; font-weight:bold;}
.text-2 {display:inline-block; line-height:19px;}
.text-3 {font-size:16px; line-height:21px; color:#e5e5e5; font-weight:normal; padding-bottom:9px; background:url(/images/border-bot.gif) 0 bottom repeat-x;}

.map-canvas {width:251px; height:300px;}

dl dt {color:#e5e5e5; line-height:21px;}
dl dd {overflow:hidden; line-height:19px;}
dd span {float:left; width:74px;}

table .col-1, table .col-2, table .col-3, table .col-4 {float:none; }
table .col-1 {width:77px; margin:0; padding:6px 0; text-align:center; border-right:1px solid #19191a;}
table .col-2 {width:459px; padding:6px 20px;}
table .col-3 {width:92px; margin:0; padding:6px 20px; border-right:1px solid #19191a;}
table .col-4 {width:324px; margin:0; padding:6px 20px 6px 22px;}
table th {font-size:12px; line-height:24px; color:#fff; font-weight:700; background:url(/images/th-tail.gif) 0 0 repeat-x #6e0b00;}
table td {font-size:12px; line-height:16px; color:#F5F5F5; vertical-align:middle; border-bottom:1px solid #19191a; background:#000;}

/*********************************aside*************************************/
aside {width:100%; position:relative; z-index:2; padding-top: 10px;}

/****************************footer************************/
footer {-webkit-background-clip: padding-box; border-radius:4px; background:url(/images/footer-tail.gif) 0 0 repeat-x #1a1a1b; margin-bottom:46px; width: 936px;}
footer .bg {width:100%; background:url(/images/footer-right-bg.jpg) right 0 no-repeat;}
.padding-footer {padding:19px 23px 21px 19px;}

.menu-bot {overflow:hidden;}
.menu-bot li {float:left; margin-right:24px; font-size:14px; line-height:17px; text-transform:uppercase; font-weight:bold; font-style:normal;}
.menu-bot li.last-item {margin:0;}
.menu-bot li a {color:#848484;}
.menu-bot li a:hover, .menu-bot li a.active {color:#e8e8e8;}

.list-services {padding:8px 0 0; overflow:hidden;}
.list-services li {float:left; padding:0; margin-left:11px;}
.list-services li a {text-decoration:none;}

.text-bot {float:left; font-size:13px; line-height:16px; color:#4a4949; margin-right:20px;}
.text-bot a {color:#e41e00; margin-left:18px; text-decoration:none;}
.text-bot a:hover {color:#e8e8e8;}

.footer-link {float:left; font-size:13px; line-height:16px; color:#4a4949;}

/****************************layout************************/
.page2.col-1 {width:244px; margin-right:28px;}
.page2.col-2 {width:244px; margin-right:0px;}
.page3.col-1 {width:259px; margin-right:60px;}
.page3.col-2 {width:259px; margin-right:0px;}
.page5.col-1 {width:279px; margin-right:29px;}
.page5.col-2 {width:279px; margin-right:30px;}
.page5.col-3 {width:279px; margin-right:0px;}

/****************************TM-Slider************************/
.slider-wrapper {position:relative; overflow:hidden; width:100%;}
.slider {width:1312px; height:897px; position:relative; top:0; left:50%; margin-left:-656px;}
.items {display:none;}
.pagination {position:absolute; top:616px; left:81.3%; width:53px; height:19px; padding:7px 0 0 9px; z-index:999; background:url(/images/pagination-bg.png) 0 0 no-repeat;}
.pagination li {float:left; margin:0 4px 0 0; padding:0; display:block; background:url(/images/pagination.png) right 0 no-repeat;}
.pagination li.current, .pagination li:hover {background:url(/images/pagination.png) 0 0 no-repeat;}
.pagination li a {color:#fff; width:11px; height:11px; display:block;}
.banner {
	width:1072px;
	height:112px;
	position:absolute;
	top:473px;
}
.banner.slider-banner1 {background:url(/images/slider-banner1.png) 0 0 no-repeat;}
.banner.slider-banner2 {background:url(/images/slider-banner2.png) 0 0 no-repeat;}
.banner.slider-banner3 {background:url(/images/slider-banner3.png) 0 0 no-repeat;}

/****************************easyTooltip************************/
#easyTooltip {padding:5px 10px; background:#e41e00; color:#e8e8e8; font-size:11px; text-transform:none; z-index:10;}

/****************************form-transfer************************/
#state {line-height:1em; margin:0 0 20px 0; padding:0; width:100%;}
#state span {float:left; width:98px; font-size:13px; line-height:23px; color:#4a4949;}
/* -------------Selects------------- */
#state .jqTransformSelectWrapper {float:left; position:relative; margin:0; padding:0; width:176px !important;}
#state .jqTransformSelectWrapper div span {display:block; float:none; font-size:13px; line-height:23px; color:#19191a; width:144px !important; padding:0px 25px 0 7px; margin:0; white-space:nowrap; overflow:hidden; cursor:pointer; font-family:Arial, Helvetica, sans-serif; border:none; background:url(/images/select-bg.gif) 0 0 no-repeat; position:relative;}
#state .jqTransformSelectWrapper  a.jqTransformSelectOpen {display:block; position:absolute; right:1px; top:1px; width:22px; height:21px; background: url(/images/select-marker.gif) 0 0 no-repeat;}
#state .jqTransformSelectWrapper ul {position:absolute; top:24px; left:0px; width:174px !important; display:none; margin:0px; padding:0px; overflow:auto; overflow-y:auto; z-index:10; background:#fff; border:1px solid #c9c9c9;}
#state .jqTransformSelectWrapper ul a {display:block; padding:2px 2px 2px 8px; background:#fff; font-size:13px; line-height:18px; color:#808080; text-decoration:none; font-family:Arial, Helvetica, sans-serif;}
#state .jqTransformSelectWrapper ul a.selected {color:#19191a;}
#state .jqTransformSelectWrapper ul a:hover, #state .jqTransformSelectWrapper ul a.selected:hover {color:#de1d00;}
#state .jqTransformHidden {display:none;}

/****************************Contact Form************************/
#contact-form {line-height:1em; margin:0; padding:0; width:575px;}
#contact-form em {float:left; width:74px; font-size:13px; line-height:35px; color:#4a4949; font-style:normal; text-align:right; padding:0 13px 0 0;}
#contact-form .success {padding-bottom:5px;}
#contact-form .form-bg {display:block; font-weight:400; overflow:hidden; padding:6px 5px 6px 0; border-radius:3px; background:#040402;}
#contact-form textarea, #contact-form input {float:left; margin:0; font-size:1em; color:#fff; padding:10px 10px; border:none; outline:none; position:relative; font-family:Arial, Helvetica, sans-serif;}
#contact-form input {width:463px; background:url(/images/input-bg.gif) 0 0 no-repeat;}
#contact-form textarea {overflow:auto; width:463px; height:225px; background:url(/images/message-bg.gif) 0 0 no-repeat;}	
#contact-form label {display:block; min-height:60px;}	
#contact-form label.message {min-height:291px; display:block;}
#contact-form .error, #contact-form .empty, #contact-form .success {display:none;}	
#contact-form .button {margin-left:8px;}	
#contact-form .error, #contact-form .empty {text-align:left; color:red; padding:5px 0; font-size:11px;}
#contact-form .buttons {overflow:hidden;}
#contact-form .buttons a {
	float:right;
	margin-left:10px;
	font-size:14px;
	line-height:18px;
	font-weight:bold;
	font-style:normal;
	text-transform:uppercase;
	text-decoration:none;
	color:#060709;
	cursor:pointer;
	background:url(/images/button-left.png) left bottom no-repeat;
}
#contact-form .buttons a strong {
	padding:0 19px 0 7px;
	display:inline-block;
	background:url(/images/button-right.png) right bottom no-repeat;
}	
#contact-form .buttons a strong strong {
	background:url(/images/button-tail.png) 0 bottom repeat-x;
	cursor:pointer;
	padding:4px 7px 4px 5px;
}	


#contact-form .buttons a:hover {background:url(/images/button-left.png) left 0 no-repeat; color:#fff;}
#contact-form .buttons a:hover strong {background:url(/images/button-right.png) right 0 no-repeat;}
#contact-form .buttons a:hover strong strong {background:url(/images/button-tail.png) 0 0 repeat-x;}


h3 .text-3 {display:block; font-size:31px; line-height:38px; background:url(/images/button-left.png) left 0 no-repeat; color:#fff;}
h3 .text-3 strong {background:url(/images/button-right.png) right 0 no-repeat;}
h3 .text-3 strong strong {background:url(/images/button-tail.png) 0 0 repeat-x;}

#contact-form .success {color:#fff; width:246px; margin-bottom:20px; padding:10px; border:1px solid #040402; background:#2c2c2c;}
